{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include/"}]}.

{gpb_opts, [{i, "proto"},
        {o_erl, "src"},
        {o_hrl, "include"}]}.

{deps, [
  {cowboy, "> 0.0"},
  {gpb, "> 0.0"},
  {hackney, "~> 1.16"},
  % {trace_exporter, {git, "git@github.com:k8s-labs-google/trace-exporter-erlang.git", {branch, "master"}}},
  {opentelemetry_api, "~> 0.3.0"},
  {trace_exporter, {localdep, "trace-exporter-erlang"}}
]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}}]}
]}.

{plugins,
  [rebar3_hex,
  {rebar3_gpb_plugin, "~> 2.10.0"},
  {rebar_localdep, {git, "https://github.com/alinpopa/rebar3-localdep-plugin.git", {branch, "master"}}}]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [trace_exporter_example]}
]}.

{relx, [{release, { test1, "0.1.0" },
         [trace_exporter_example,
          test07a,
          sasl]},
        % {sys_config, "./config/sys.config"},
        % {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.
