{erl_opts, [debug_info]}.

{deps, [
  {hackney, "~> 1.16"},
  % {trace_exporter, {git, "git@github.com:k8s-labs-google/trace-exporter-erlang.git", {branch, "master"}}},
  {opentelemetry_api, "~> 0.3.0"},
  {trace_exporter, {localdep, "trace-exporter-erlang"}}
]}.

{plugins,
  [rebar3_hex,
  {rebar_localdep, {git, "https://github.com/alinpopa/rebar3-localdep-plugin.git", {branch, "master"}}}]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [trace_exporter]}
]}.
